*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
body{
    font-family: 'Work Sans',sans-serif;
    background-color: #2c4755;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    height: 3px;
    width: 60%;
    transition: 0.5s;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: 0.5s;
    color: #333;
}
.header .links ul{
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    display: none;
    border-radius: 8px;
    z-index: 100;
}
.header .links ul::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
    border-color: transparent transparent #f6f6f6 transparent;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.landing {
    background-image: url(../image/bg.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    position: relative;
    height: calc(97.5vh - 64px);
    
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.intro-text h1{
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.features, .portfolio, .contact{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: #10cab7;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.services, .about , .contact .info{
    padding-bottom: 60px;
    padding-top: 60px;
}
.services .services-content , .portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .serv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.services-content .serv i{
    color: #10cab7;
    flex-basis: 60px;
}
.services .services-content .serv .text{
    flex: 1;
}
.services .services-content .serv .text h3{
    margin: 0 0 20px;
}
.services .services-content .serv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .imag{
    text-align: center;
    position: relative;
}
.services .services-content .imag::before{
    content: '';
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0px;
    z-index: -1;
}
.services .services-content .imag img{
    width: 280px;
    height: 330px;
}
@media (max-width:1200px) {
    .image{
        display: none;
    }
}
.portfolio .portfolio-content  .card{
    background-color: white;
    transition: 0.5s;
    border-radius: 10px;
}
.portfolio .portfolio-content  .card:hover{
    transform: translate(0,-10px);
}
.portfolio .portfolio-content  .card img{
    width: 100%;
    height: 60%;
}
.portfolio .portfolio-content  .card .info{
    padding: 20px;
}
.portfolio .portfolio-content  .card .info p{
    color: #777;
    line-height: 1.6;
}
.about{
    padding-bottom: 120px;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .images{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .images img{
    max-width: 100%;
    height: 375px;
}
.about .about-content .images::before{
    content: '';
    left: -20px;
    z-index: -1;
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    background-color: #ebeced;
}
.about .about-content .images::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
    right: -150px;
    top: -40px;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    display: inline-block;
    width: 50%;
    border-color: #10cab7;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
@media (max-width:990px ) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .images::before{
        display: none;
    }
    .about .about-content .images::after{
        display: none;
    }
    .about .about-content .images{
        margin: 0 auto;
    }
}
.contact .info{
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}
.contact .info .social i{
    margin-left: 10px;
}
.contact .info .social i:hover{
    color: #10cab7;
}
@media (max-width: 767px) {
    .contact .info .label, .contact .info .link{
        font-size: 25px;
        
    }
}
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    color: #10cab7;
    font-weight: bold;
}
.intro-text h1{
    animation: x 0.5s infinite;
}
@keyframes x{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-5px);
    }
    100%{
        transform: translate(0,0);
    }
}